@import "tailwindcss";

@keyframes carousel {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-carousel {
    animation: carousel 30s linear infinite;
    will-change: transform;
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}